{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<h1>IPv6 Routes</h1>

{% bootstrap_messages %}

<a href="{% url 'route6_add' %}" class="btn btn-success pull-right">{% bootstrap_icon "plus" %} New</a>

<table class="table table-striped table-condensed table-hover">
	<thead>
	<tr>
		<th>Route</th><th>Client</th><th>&nbsp;</th>
	</tr>
	</thead>
	{% for r in object_list %}
	<tr>
		<td>{{ r }}</td>
		<td>{% if r.client %}{{ r.client.ipv6 }} ({{ r.client }}){% else %}-{% endif %}</td>
		<td>
			<form action="{% url 'route6_delete' r.id %}" method="post" class="confirm-delete inline-form pull-right">
				{% csrf_token %}
				<input type="submit" value="Delete" class="btn btn-xs btn-danger"/>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>



{% endblock %}
